/* UTILITIES */

/* color variables */
:root {
    --white: rgba(255, 255, 255, 1);
    --dark-grey: rgba(44, 62, 80, 1);
    --green: rgba(26, 188, 156, 1);
    --grey: rgba(58, 84, 109, 1);
    --card01-bg: rgba(186, 75, 99, 1);
    --card02-bg: rgba(30, 164, 182, 1);
    --card03-bg: rgba(20, 15, 15, 1);
    --card04-bg: rgba(28, 131, 193, 1);
    --card-05-bg: rgba(14, 56, 181, 1);
    --card06-bg: rgba(204, 178, 163, 1);
}

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

/* debug */
.debug {
    border: 0.1rem dashed lightgreen;
}

/* GENERAL */

body {
    background-color: var(--white);
}

/* HEADER */

header {
    height: 100px;
    background-color: var(--dark-grey) !important;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
}

.navbar {
    color: var(--white) !important;
}

/* MAIN */

/* SECTION 1 */

#start-bootstrap {
    background-color: var(--green);
    color: var(--white);
    padding-top: 6rem;
    padding-bottom: 3rem;
}

img.avatar {
    width: 70%;
}

.star {
    width: 18rem;
}

.star .fa-solid.fa-star {
    width: 20%;
}

.star::before, .star::after {
    background-color: var(--white);
    content: "";
    display: block;
    height: 0.2rem;
    width: 40%;
}

#start-bootstrap .star i {
    color: var(--white);
}

/* SECTION 2 */

#portfolio {
    background-color: var(--white);
    padding: 2rem 0;
}

#portfolio .star::before, 
#portfolio .star::after {
    background-color: var(--dark-grey);
    content: "";
    display: block;
    height: 0.2rem;
    width: 40%;
}

/* SECTION 3 */

#about {
    background-color: var(--green);
    color: var(--white);
    padding: 2rem 0;
}

/* SECTION 4 */

#contact-me {
    padding: 2rem 0 12rem 0;
}

#contact-me .star::before, 
#contact-me .star::after {
    background-color: var(--dark-grey);
    content: "";
    display: block;
    height: 0.2rem;
    width: 40%;
}

/* FOOTER */

footer {
    color: var(--white);
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
}

/* FOOTER TOP */

#footer-top {
    background-color: var(--grey);
    color: var(--white);

}

/* FOOTER BOTTOM */

#footer-bottom {
    height: 100px;
    line-height: 100px;
    text-align: center;
    background-color: var(--dark-grey);
    color: var(--white);
}

#footer-bottom h6 {
    line-height: 100px;
}